In [52]:
import pandas as pd

17~18년 경기도 버스 정류장에 대한 정보를 불러옵니다.

In [53]:
stations = pd.read_csv("stations_table.csv")
stations.head()

,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID
0,228003422,용인시,손골마을회관.국제학교,"Songol Community Center,",56443.0,노변정류장,경기도 용인시,NaN,37.342517,127.066817,56443.0,NaN
1,228003423,용인시,풀잎사랑,Pulipsarang,56444.0,노변정류장,경기도 용인시,NaN,37.341800,127.068983,56444.0,NaN
2,228003424,용인시,풀잎사랑,Pulipsarang,56445.0,노변정류장,경기도 용인시,NaN,37.341817,127.069083,56445.0,NaN
3,228003425,용인시,대성공정,Daesung Process,56446.0,노변정류장,경기도 용인시,NaN,37.339350,127.073067,56446.0,NaN
4,228003426,용인시,대성공정,Daesung Process,56447.0,노변정류장,경기도 용인시,NaN,37.339183,127.073400,56447.0,NaN

In [54]:
len(stations)

38509

버스 정류장 정보 중 필요한 column 값만 추려냅니다.

In [55]:
stations = stations[['표준정류장ID','이비카드정류장ID','관할관청','WGS84위도','WGS84경도']]
stations.columns = ['표준정류장ID', '이비카드정류장ID', '관할관청','위도','경도']
stations.head()

     표준정류장ID  이비카드정류장ID     관할관청         위도          경도
0  228003422        NaN  경기도 용인시  37.342517  127.066817
1  228003423        NaN  경기도 용인시  37.341800  127.068983
2  228003424        NaN  경기도 용인시  37.341817  127.069083
3  228003425        NaN  경기도 용인시  37.339350  127.073067
4  228003426        NaN  경기도 용인시  37.339183  127.073400

결측치를 확인하고 제거합니다.

In [56]:
stations['표준정류장ID'].isna().sum()

0

In [57]:
stations['이비카드정류장ID'].isna().sum()

12542

In [58]:
stations.dropna(subset=["이비카드정류장ID"],inplace = True)
len(stations)

25967

17~18년 기준 경기도 버스정류장에 대한 정보와 버스노선-정류장 매핑 테이블 정보를 결합한 파일을 불러옵니다.

In [59]:
combined = pd.read_csv("routestationinfo.csv")
combined.drop(combined.columns[0],axis=1)
combined.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no
0,65286,228000018,10-4,1,용인터미널,228001552,47634.0
1,65287,228000018,10-4,2,용인터미널(경유),277102443,NaN
2,65288,228000018,10-4,3,포브스병원,228000443,29439.0
3,65289,228000018,10-4,4,제일교회,228000665,29881.0
4,65290,228000018,10-4,5,라이프아파트,228000664,29457.0

필요한 column만 선택하여 column명을 바꿔줍니다.

In [60]:
combined = combined[['bus_line_no', 'station_nm', 'station_id']]
combined.columns = ['노선번호', '정류장이름', '표준정류장ID']
combined.head()

   노선번호      정류장이름    표준정류장ID
0  10-4      용인터미널  228001552
1  10-4  용인터미널(경유)  277102443
2  10-4      포브스병원  228000443
3  10-4       제일교회  228000665
4  10-4     라이프아파트  228000664

위와 동일하게 결측치를 확인합니다.

In [61]:
combined['표준정류장ID'].isna().sum()

0

이제 combined 데이터와 stations 데이터를 표준정류장ID를 key값으로 결합합니다.

In [62]:
re_combined = pd.merge(combined, stations, on = "표준정류장ID")
re_combined.head()

   노선번호  정류장이름    표준정류장ID  이비카드정류장ID     관할관청         위도        경도
0  10-4  용인터미널  228001552  4176783.0  경기도 용인시  37.232783  127.2101
1  10-4  용인터미널  228001552  9176783.0  경기도 용인시  37.232783  127.2101
2     7  용인터미널  228001552  4176783.0  경기도 용인시  37.232783  127.2101
3     7  용인터미널  228001552  9176783.0  경기도 용인시  37.232783  127.2101
4     8  용인터미널  228001552  4176783.0  경기도 용인시  37.232783  127.2101

결합한 데이터에서 관할관청이 화성시인 데이터만을 추출합니다.

In [63]:
re_combined = re_combined[re_combined['관할관청'] == '경기도 화성시']
re_combined.head()

      노선번호 정류장이름    표준정류장ID  이비카드정류장ID     관할관청         위도          경도
1522    24  한원IC  233000169  4170725.0  경기도 화성시  37.152733  127.122883
1523    24   장지동  233000168  4170397.0  경기도 화성시  37.155117  127.117900
1524  19-2   장지동  233000168  4170397.0  경기도 화성시  37.155117  127.117900
1525    39   장지동  233000168  4170397.0  경기도 화성시  37.155117  127.117900
1526    24   장지동  233000167  4170396.0  경기도 화성시  37.155867  127.115017

In [64]:
len(re_combined)

7754

한 정류장에 여러 노선이 지나기 때문에, 정류장 정보만 얻기 위해 노선번호 열을 삭제하고, 중복값을 제거합니다.

In [65]:
re_combined = re_combined.drop(re_combined.columns[0], axis = 1)
final_combined = re_combined.drop_duplicates()
final_combined.head()

       정류장이름    표준정류장ID  이비카드정류장ID     관할관청         위도          경도
1522    한원IC  233000169  4170725.0  경기도 화성시  37.152733  127.122883
1523     장지동  233000168  4170397.0  경기도 화성시  37.155117  127.117900
1526     장지동  233000167  4170396.0  경기도 화성시  37.155867  127.115017
1529  꽃가마약수터  233000166  4170395.0  경기도 화성시  37.159100  127.099350
1607  꽃가마약수터  233001323  4170651.0  경기도 화성시  37.158900  127.098750

In [66]:
len(final_combined)

1469

2018년 7월 승차일 기준 1~4일의 버스 카드태깅 정보를 불러옵니다.

In [67]:
tripchain = pd.read_csv("TripChain.csv", encoding = "utf-8")
tripchain.head()

,암호화카드번호||','||트랜잭션ID||','||환승횟수||','||교통카드발행사ID||','||총이용객수||','||사용자구분||','||교통수단CD1||','||교통수단CD2||','||교통수단CD3||','||교통수단CD4||',...,'||하차역ID1||','||하차역ID2||','||하차역ID3||','||하차역ID4||','||하차역ID5||','||최초승차역ID||','||최종하차역ID||','||총이용금액||','||수집건수||','||트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116708.0,1350,2,;
1,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
2,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
3,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
4,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;

column이 많은 데이터라, column명만 다시 한번 확인합니다.

In [68]:
tripchain.columns

Index(['암호화카드번호||'', ''||트랜잭션ID||'', ''||환승횟수||'', ''||교통카드발행사ID||'',
       ''||총이용객수||'', ''||사용자구분||'', ''||교통수단CD1||'', ''||교통수단CD2||'',
       ''||교통수단CD3||'', ''||교통수단CD4||'', ''||교통수단CD5||'', ''||버스노선ID1||'',
       ''||버스노선ID2||'', ''||버스노선ID3||'', ''||버스노선ID4||'', ''||버스노선ID5||'',
       ''||차량ID1||'', ''||차량ID2||'', ''||차량ID3||'', ''||차량ID4||'',
       ''||차량ID5||'', ''||총통행거리||'', ''||총탑승시간||'', ''||총소요시간||'',
       ''||승차일시1||'', ''||승차일시2||'', ''||승차일시3||'', ''||승차일시4||'',
       ''||승차일시5||'', ''||하차일시1||'', ''||하차일시2||'', ''||하차일시3||'',
       ''||하차일시4||'', ''||하차일시5||'', ''||최초승차일시||'', ''||최종하차일시||'',
       ''||승차역ID1||'', ''||승차역ID2||'', ''||승차역ID3||'', ''||승차역ID4||'',
       ''||승차역ID5||'', ''||하차역ID1||'', ''||하차역ID2||'', ''||하차역ID3||'',
       ''||하차역ID4||'', ''||하차역ID5||'', ''||최초승차역ID||'', ''||최종하차역ID||'',
       ''||총이용금액||'', ''||수집건수||'', ''||트립체인완료코드'],
      dtype='object')

이 중에서 화성시 출퇴근 시간대의 승하차 정류장 정보 추출에 필요한 column만 추려냅니다.

In [69]:
tripchain = tripchain[["'||사용자구분||'","'||최초승차일시||'","'||최종하차일시||'","'||승차역ID1||'","'||최종하차역ID||'"]]
tripchain.head()

   '||사용자구분||'    '||최초승차일시||'     '||최종하차일시||'  '||승차역ID1||'  '||최종하차역ID||'
0            1  20180701052543  20180701064826      4116828.0      4116708.0
1            1  20180701072156  20180701072520      4117280.0      4117269.0
2            1  20180701123653  20180701134223      4199619.0      4107936.0
3            1  20180701224424  20180701224543      4108130.0      4116717.0
4            1  20180701085058  20180701085910      4100122.0      4116848.0

column명이 복잡함으로, 간단하게 바꿉니다.

In [70]:
tripchain.columns = ['사용자구분','최초승차일시','최종하차일시','최초승차역ID','최종하차역ID']
tripchain.head()

   사용자구분          최초승차일시           최종하차일시    최초승차역ID    최종하차역ID
0      1  20180701052543  20180701064826   4116828.0  4116708.0
1      1  20180701072156  20180701072520   4117280.0  4117269.0
2      1  20180701123653  20180701134223   4199619.0  4107936.0
3      1  20180701224424  20180701224543   4108130.0  4116717.0
4      1  20180701085058  20180701085910   4100122.0  4116848.0

'최초승차일시'column의 데이터 타입을 확인합니다

In [71]:
type(tripchain['최초승차일시'][0])

numpy.int64

'최초승차일시'데이터를 datetime 형태로 바꿔줍니다.

In [ ]:
to_str = tripchain['최초승차일시'].astype(str)
to_df = pd.DataFrame(to_str)
to_dt = pd.to_datetime(to_df['최초승차일시'], errors = 'coerce')
dt_to_df = pd.DataFrame(to_dt)
tripchain['최초승차일시'] = dt_to_df
tripchain.head()

위와 같이, '최종하차일시'데이터를 datetime 형태로 바꿔줍니다.

In [ ]:
tripchain['최종하차일시'] = pd.to_datetime(tripchain['최종하차일시'], errors = 'coerce')

'최종승차일시'데이터에서 필요한 승하차 시간대만 추출하여 새로운 column을 만들어 붙여줍니다.

In [ ]:
tripchain['승차시간대'] = tripchain['최초승차일시'].dt.strftime('%H')
tripchain['하차시간대'] = tripchain['최종하차일시'].dt.strftime('%H')
tripchain.head()

출근시간대인 7-9시, 퇴근시간대인 18-20시에 해당되는 데이터만 따로 모아줍니다.

In [ ]:
morning = ['07','08','09']
evening = ['18','19','20']

df_morning = tripchain[tripchain['승차시간대'].isin(morning)]
df_evening = tripchain[tripchain['하차시간대'].isin(evening)]
df_morning.head()

출근시간대에 해당하는 df_morning 데이터에서 승차데이터와 하차데이터를 나눠줍니다.

In [ ]:
df_morning_on = df_morning[['사용자구분','최초승차일시','최초승차역ID','승차시간대']]
df_morning_off = df_morning[['사용자구분','최종하차일시','최종하차역ID','하차시간대']]

위와 같이 퇴근시간대에 해당하는 df_evening 데이터에서 승차데이터와 하차데이터를 나눠줍니다.

In [ ]:
df_evening.head()

In [ ]:
df_evening_on = df_evening[['사용자구분','최초승차일시','최초승차역ID','승차시간대']]
df_evening_off = df_evening[['사용자구분','최종하차일시','최종하차역ID','하차시간대']]

df_morning, df_evening 데이터로는, '최초승차열ID','최종하차역ID' 열에 해당하는 정류장 이름과, 위치(위도,경도)를 알 수 없습니다. 따라서 위에서 작업한 화성시 관내 버스정류장 정보(final_combined)를 이용하겠습니다.

결합을 위해, '최초승차역ID','최종하차역ID' column이름을 바꿔줍니다.

In [ ]:
df_morning_on.rename(columns ={'최초승차역ID':'이비카드정류장ID'}, inplace = True)
df_morning_off.rename(columns ={'최종하차역ID':'이비카드정류장ID'}, inplace = True)
df_evening_on.rename(columns ={'최초승차역ID':'이비카드정류장ID'}, inplace = True)
df_evening_off.rename(columns ={'최종하차역ID':'이비카드정류장ID'}, inplace = True)

In [ ]:
df_morning_on.head()

'이비카드정류장ID'를 key값으로 화성시 버스 정류장 정보 테이블과 결합합니다.

In [ ]:
df_79_on = pd.merge(df_morning_on, final_combined, on = '이비카드정류장ID')
df_79_off = pd.merge(df_morning_off, final_combined, on = "이비카드정류장ID")
df_1820_on = pd.merge(df_evening_on, final_combined, on = '이비카드정류장ID')
df_1820_off = pd.merge(df_evening_off, final_combined, on = '이비카드정류장ID')

In [ ]:
df_79_on.head()

이제 출퇴근 시간대에 승하차가 빈번하게 발생하는 정류장을 확인해보겠습니다.

우선 출근 시간대 승차가 빈번한 상위 50개 정류장을 추출하겠습니다.

In [ ]:
from collections import Counter

In [ ]:
df_79_on_count = Counter(df_79_on['정류장이름'])
mc_79_on = df_79_on_count.most_common(50)
df_mc_79_on = pd.DataFrame(mc_79_on)
df_mc_79_on.columns = ['정류장이름','횟수']
df_mc_79_on.head()

In [ ]:
point_79_on = pd.merge(df_79_on[['이비카드정류장ID','정류장이름','위도','경도']], df_mc_79_on, on = '정류장이름', how = 'outer')

동일한 정류장 이름을 가진 상행과 하행의 중복값을 제거하였습니다.

In [ ]:
point_79_on = point_79_on.drop_duplicates(['정류장이름'], keep = 'last')

결측치를 제거합니다.

In [ ]:
point_79_on = point_79_on.dropna()

In [ ]:
point_79_on.sort_values(['횟수'], ascending=[False]).head()

마찬가지로 출근 시간대 하차가 빈번한 상위 50개의 정류장을 추출하겠습니다.

In [ ]:
df_79_off_count = Counter(df_79_off['정류장이름'])
mc_79_off = df_79_off_count.most_common(50)
df_mc_79_off = pd.DataFrame(mc_79_off)
df_mc_79_off.columns = ['정류장이름','횟수']
df_mo_79_off.head()

In [ ]:
point_79_off = pd.merge(df_79_off[['이비카드정류장ID','정류장이름','위도','경도']], df_mc_79_off, on = '정류장이름', how = 'outer')
point_79_off = point_79_off.drop_duplicates(['정류장이름'], keep = 'last')
point_79_off = point_79_off.dropna()

In [ ]:
point_79_off.sort_values(['횟수'], ascending=[False]).head()

이번에는 퇴근 시간대 승차가 빈번한 상위 50개의 정류장을 추춣하겠습니다.

In [ ]:
df_1820_on_count = Counter(df_1820_on['정류장이름'])
mc_1820_on = df_1820_on_count.most_common(50)
df_mc_1820_on = pd.DataFrame(mc_1820_on)
df_mc_1820_on.columns = ['정류장이름','횟수']
df_mo_1820_on.head()

In [ ]:
point_1820_on = pd.merge(df_1820_on[['이비카드정류장ID','정류장이름','위도','경도']], df_mc_1820_on, on = '정류장이름', how = 'outer')
point_1820_on = point_1820_on.drop_duplicates(['정류장이름'], keep = 'last')
point_1820_on = point_1820_on.dropna()

In [ ]:
point_1820_on.sort_values(['횟수'], ascending=[False]).head()

마지막으로 퇴근 시간대 하차가 빈번한 상위 50개 정류장을 추출하겠습니다.

In [ ]:
df_1820_off_count = Counter(df_1820_off['정류장이름'])
mc_1820_off = df_1820_off_count.most_common(50)
df_mc_1820_off = pd.DataFrame(mc_1820_off)
df_mc_1820_off.columns = ['정류장이름','횟수']
df_mo_1820_off.head()

In [ ]:
point_1820_off = pd.merge(df_1820_off[['이비카드정류장ID','정류장이름','위도','경도']], df_mc_1820_off, on = '정류장이름', how = 'outer')
point_1820_off = point_1820_off.drop_duplicates(['정류장이름'], keep = 'last')
point_1820_off = point_1820_off.dropna()

In [ ]:
point_1820_off.sort_values(['횟수'], ascending=[False]).head()

In [ ]:
point_79_on.to_csv("point_79_on.csv", encoding = 'utf-8')
point_79_off.to_csv("point_79_off.csv", encoding = 'utf-8')
point_1820_on.to_csv("point_1820_on.csv", encoding = 'utf-8')
point_1820_off.to_csv("point_1820_off.csv", encoding = 'utf-8')